# Database
DATABASE_URL="postgresql://postgres:Bo970229@localhost:5432/helpdesk_db?schema=public"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
