# Database
DATABASE_URL="postgresql://postgres:Medhanit21@@localhost:5432/helpdesk_db?schema=public"

# NextAuth
NEXTAUTH_SECRET="yWFY7iIClBuhRAFJGRtBdVHj2/YfFtlhxONDLpIRLkE="
NEXTAUTH_URL="http://localhost:3000"
